<section class="footer">         
        <footer>  
        <div class="footer-text">
            <ul>
                <li><h3>FoodVilla</h3></li>
                <li><a href="/">Home</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="login">Log In</a></li>
                <li><a href="register">Sign Up</a></li>
            </ul>
        </div>
        
        
        <div class="footer-text">
            <ul>
                <li><h3>Contact Us</h3></li>
                <li><a href="#">Facebook</a></li>
                
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>    
        
        </footer>
        
       
        
        
    </section>

    <h3 class="copyright">Copyright &copy; Fall 2021, Devanshi Patoliya, WEB322 ZAA</h3>
