<section class="home" id="home">
        <div class="banner home-text">
            {{!-- <img src="/static/img/banner.jpg"> --}}
            <div class="banner-caption">                     
               <div class="home-text">
                   <h1>FoodVilla</h1>
                <h3>You want it, You get it</h3>
                
               </br>
                <a href="register" class="btn">Join Today</a>
            </div>
            </div>               
        </div>       
</section>